body{
    margin: 0;
    padding: 0;
    background-color:  #9C74F4;
}
.main{
    padding: 0 5%;
}
.head{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 5%;
}
.head h1{
    font-size: 50px;
    margin: 10px;
}
.head h3{
    margin: 25px;
}
.question-container{
    margin: 10px;
    background-color: white;
    padding: 20px 25px;
    border-radius: 25px;
}
.option{
    /* background-color:  #6651BF; */
    width: 40%;
    min-width: 150px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid grey;
    display: flex;
}
.option label{
    margin: 10px 25px;
    font-size: 20px;
}
.nextBtn{
    font-size: 25px;
    width: 180px;
    padding: 10px;
    margin: 20px 7%;
    border-radius: 20px;
    background-color: white;
    color: black;
}